{% if not xhr %}
  <style>@import "css/course_segments.css";</style>
  <script src="js/jquery.min.js"></script>
  <script src="js/course_segments.js"></script>
{% endif %}
<form class="csi-term-chooser">
  <p>
    <label>
      {{ en ? 'Semester:' : 'Termin:' }}
      <select name="term" onchange="$(this.form).submit()">
        {% for s in semesters %}
          <option value="{{ s }}"{{ s == semester ? ' selected' }}
                  >{{ s }}</option>
        {% endfor %}
      </select>
    </label>
  </p>
</form>
<table class="footable course_units_table">
  <col class="cut_name">
  <col class="cut_timetable">
  <col class="cut_p">
  <col class="cut_time">
  <col class="cut_bet">
  <thead>
    <tr>
      <th data-sort-initial="true">{{ en ? 'Course segment' : 'Delkurs' }}</th>
      <th data-sort-ignore="true">{{ en ? 'Timetable' : 'Schema' }}</th>
      <th data-type="numeric" data-hide="phone">{{ en ? 'Credits' : 'hp' }}</th>
      <th data-type="numeric" data-hide="phone">{{ en ? 'Date' : 'Datum' }}</th>
      <th data-hide="phone">{{ en ? 'Code' : 'Beteckning' }}</th>
    </tr>
  </thead>
  <tbody>
    {% for csi in csis %}
      <tr>
        <td><a href="{{ csi.daisyPopupUrl }}" target="_blank">{{ csi|csi_name }}</a></td>
        <td class="timetable"
            ><a href="{{ csi.daisyScheduleUrl }}"
                class="daisy" target="_blank"
                ><img src="{{ schedule_icon }}" width="16" height="16"
                      alt="{{ en ? 'Timetable' : 'Schema' }}"
                      title="{{ en ? 'Timetable' : 'Schema' }}"></a></td>
        <td data-value="{{ csi.credits }}">{{ en ? csi.credits : csi.credits|replace({'.': ','}) }}</td>
        <td data-value="{{ csi.startDate|date("U") }}">{{ csi.startDate|date("j/n") }}&ndash;{{ csi.endDate|date("j/n") }}</td>
        <td>{{ csi.designation }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
<script>$('.footable').footable();</script>
