{% if not xhr %}
  <style>@import "css/footable.css";</style>
  <script src="js/jquery.min.js"></script>
  <script src="js/footable.js"></script>
{% endif %}
<table class="dsv-staff-table footable">
  <col class="c_last_name">
  <col class="c_first_name">
  <col class="c_email">
  <col class="c_work_phone">
  <col class="c_office">
  <thead>
    <tr>
      <th data-type="swedish" data-sort-initial="true">{{ en ? 'Last name' : 'Efternamn' }}</th>
      <th data-type="swedish">{{ en ? 'First name' : 'Förnamn' }}</th>
      <th data-hide="phone">{{ en ? 'Email' : 'E-post' }}</th>
      <th data-hide="phone">{{ en ? 'Phone' : 'Telefon' }}</th>
      <th data-hide="phone">{{ en ? 'Office' : 'Rum' }}</th>
    </tr>
  </thead>
  <tbody>
    {% for e in employees %}
      {% set p = e.person %}
      <tr>
        <td><a href="{{ daisyPopupUrl(p) }}" target="_blank">{{ p.lastName }}</a></td>
        <td><a href="{{ daisyPopupUrl(p) }}" target="_blank">{{ p.firstName }}</a></td>
        <td><a href="mailto:{{ p.mail }}">{{ p.mail }}</a></td>
        {% if e.workPhone is phoneNumber %}
          <td><a href="tel:{{ e.workPhone|e164PhoneNumber }}">{{ e.workPhone|nationalPhoneNumber }}</a></td>
        {% else %}
          <td>{{ e.workPhone }}</td>
        {% endif %}
        <td>{{ e.office }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
<script>if (typeof(dsvInitFootable) === 'function') dsvInitFootable();</script>
