{% if not included %}
  <form id="pub-search-form">
    <div id="left-column">

      <label>Title: <input name="title" value="{{ title }}"></label>
      <label>Last name: <input name="lastName" value="{{ lastName }}"></label>
      <label>First name: <input name="firstName" value="{{ firstName }}"></label>

      <label>Type of publication:
        <select name="type[]" multiple>
          <option value=""{{ type is empty ? ' selected' }}>(any)</option>
          {% for t in allPublicationTypes %}
            <option value="{{ t.identifier }}"{{ t.identifier in type ? ' selected' }}>{{ t.name }}</option>
          {% endfor %}
        </select>
      </label>
    </div>
    <div id="right-column">
      <label>
        Research area:
        <select name="researchArea[]" multiple>
          <option value=""{{ researchArea is empty ? ' selected' }}>(any)</option>
          {% for area in allResearchAreas %}
            <option value="{{ area.id }}"{{ area.id in researchArea ? ' selected' }}>{{ area.name }}</option>
          {% endfor %}
        </select>
      </label>

      <label>Year from: <input type="number" min="1900" max="2100" name="from" value="{{ from }}"></label>
      <label>Year until: <input type="number" min="1900" max="2100" name="until" value="{{ until }}"></label>
    </div>
    <div class="clear-float"></div>
    <div id="buttons">
      <input type="hidden" name="commit" value="1">
      <input type="submit" name="search_btn" id="search_button" value="Search">
      {% if commit %}
        <a href="?">Clear search</a>
      {% endif %}
    </div>
  </form>
  <div class="clear-float"></div>
{% endif %}

{% if publications is defined %}
  <div id="results">

    <div class="page-info">
      {% if publications is empty %}
	No matching publications found.
      {% else %}
	Displaying entries {{ first_item }} &ndash; {{ last_item }}
	of {{ total_count }} in total.
      {% endif %}
    </div>

    {% if publications is not empty %}
      <div class="dsv-pub-list">
        {% for pub in publications %}
	  <p>{{ pub|format_publication }}</p>
        {% endfor %}
      </div>
    {% endif %}
  </div>
{% endif %}

<div class="clear-float"></div>
